/* ブラウザで設定されているスタイルのリセット・共通設定 */
/* 消さないでください */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
p,
ul,
li,
form,
input,
textarea,
select,
button {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  list-style: none;
}
/* スタイルのリセット終了 */
.naoto{
  display:flex;
  height:100vh;
}
/* サイドバーとメインコンテンツを包むための要素のスタイルを書いてください */
.sidebar{
  width:256px;
  flex-shrink:0;
  background-color: #f5f5f5;
  border-right:1px solid #e0e0e0;
  display:flex;
  flex-direction: column;
  height:100%;
}
.sidebar-header{
  padding:20px;
  border-bottom:1px solid #e0e0e0;
}
a{
  font-size: 1.25rem;
  font-weight: 600;
  color: #4f7cac;
  display: flex;
  align-items:center;
  gap: 8px;
  text-decoration: none;
}
/* サイドバーに関連するスタイルを書いてください */


/* メインコンテンツに関連するスタイルを書いてください */
main{
  flex:1;
}
.main-header{
  background-color: white;
  padding: 32px;
  border-bottom: 1px solid #e0e0e0;
  text-align: center;
}
.profile-icon{
  width: 96px;
  height: 96px;
  background-color: #4f7cac;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 24px auto;
  font-size: 2.5rem;
  color: white;
}
h1{
  font-size: 1.5rem;
  font-weight: 600;
  color: #2f2f2f;
  margin-bottom: 8px;
}
h2{
  font-size: 1.125rem;
  color: #757575;
  margin-bottom: 24px;
}
p{
  max-width: 672px;
  margin: 0 auto 16 auto;
  padding: 32px;
  color: #757575;
}
